<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title></title>
</head>
<body>
  <h1> Welcome {{ user.email }} </h1>
  <p>
    <a href="http://localhost:3000{{ url }}">Click here</a> to verify your email address.
  </p>
</body>
</html>
